    <div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title"><i class="fa fa-lg fa-info-circle"></i> <span class="">关于 Calamari</span></h3>
    </div>
    <div class="bbm-modal__section">
                <p>&copy; 2013-2014 Inktank Storage, Inc and Red Hat, Inc.</p>
                <p class="text-muted">由 Dan, Gary, Gregory, Ian, JohnS, JohnW, Neil, Noah, Sage, Sandon, and
                    Yan 提供</p>
                 <h4 style="font-family: Titillium Web, sans-serif;">版本</h4>

                <ul>
                    <li>Calamari-Server: <%- version.calamariAPI %></li>
                    <li>Calamari-Client: <%- version.client %></li>
                </ul>
    </div>
    <div class="bbm-modal__bottombar">
      <a href="#" class="btn btn-primary">关闭</a>
    </div>
