    <div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title"><i class="fa fa-lg fa-info-circle"></i> <span class="">About Calamari</span></h3>
    </div>
    <div class="bbm-modal__section">
                <p>&copy; 2013-2014 Inktank Storage, Inc.</p>
                <p class="text-muted">Brought to you by Dan, Gary, Gregory, Ian, JohnS, JohnW, Neil, Noah, Sandon, and
                    Yan</p>
                 <h4 style="font-family: ApexSansMedium;">Versions</h4>

                <ul>
                    <li>Calamari-Server: <%- version.calamariAPI %></li>
                    <li>Calamari-Client: <%- version.client %></li>
                </ul>
    </div>
    <div class="bbm-modal__bottombar">
      <a href="#" class="btn btn-primary">Close</a>
    </div>
