<span data-action='dashboard' class='bc-entry bc-active'><i class="icon-dashboard icon-large"></i></span><span class="bc-line"></span><span data-action='bench' class='bc-entry'><i class="icon-zoom-in icon-large"></i></span><span class="bc-line"></span><span class='bc-entry'><i class="icon-bar-chart icon-large"></i></span>

