<span data-filter='inout' class="label label-success">In/Out</span>
<span data-filter='indown' class="label label-success">In/Down</span>
<span data-filter='down' class="label label-success">Down</span>
