    <div class="col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card health">
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card usage">
        </div>
    </div>
    <div class="col-md-6 col-sm-12 custom-gutter">
        <div class="clearfix"></div>
        <div class="gauge card status">
        </div>
    </div>
