    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card health">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card usage">
        </div>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-lg-3 col-md-6 col-sm-12 custom-gutter">
        <div class="gauge card status">
        </div>
    </div>
