    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card mon">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card usage">
        </div>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card osd">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card pg">
        </div>
    </div>
