    <div class="col-md-3 custom-gutter">
        <div class="gauge card health">
        </div>
    </div>
    <div class="col-md-3 custom-gutter">
        <div class="gauge card usage">
        </div>
    </div>
    <div class="col-md-6 custom-gutter">
        <div class="gauge card status">
        </div>
    </div>
