    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card mon">
            <h1>OSD</h1>
                31< 33 
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card usage">
        </div>
    </div>
    <div class="clearfix visible-sm visible-xs"></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card osd">
            <h1>MON</h1>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 custom-gutter">
        <div class="gauge card pg">
            <h1>PG</h1>
        </div>
    </div>
