<div class='row'>
    <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
      <div class='card graph-card <%- graphid %> col-md-9 col-lg-9 col-sm-9 col-xs-9'>
        <h3 class='graph-title'></h3>
        <div class='workarea'></div>
      </div>
    </div>
</div>
