<div class='row'>
    <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
      <div class='card graph-card <%- graphid %>'>
        <h3 class='graph-title'></h3>
        <div class='workarea_g col-md-8 col-lg-8 col-sm-8 col-xs-8'></div>
      </div>
    </div>
</div>
