<h1 class='title'>WALL-O-GRAPHS</h1>
<div class='row'>
    <div class='card span4 graph-card graph0-1'></div>
    <div class='card span4 graph-card graph0-2'></div>
    <div class='card span4 graph-card graph0-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph1-1'></div>
    <div class='card span4 graph-card graph1-2'></div>
    <div class='card span4 graph-card graph1-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph2-1'></div>
    <div class='card span4 graph-card graph2-2'></div>
    <div class='card span4 graph-card graph2-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph3-1'></div>
    <div class='card span4 graph-card graph3-2'></div>
    <div class='card span4 graph-card graph3-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph4-1'></div>
    <div class='card span4 graph-card graph4-2'></div>
    <div class='card span4 graph-card graph4-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph5-1'></div>
    <div class='card span4 graph-card graph5-2'></div>
    <div class='card span4 graph-card graph5-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph6-1'></div>
    <div class='card span4 graph-card graph6-2'></div>
    <div class='card span4 graph-card graph6-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph7-1'></div>
    <div class='card span4 graph-card graph7-2'></div>
    <div class='card span4 graph-card graph7-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph7-1'></div>
    <div class='card span4 graph-card graph7-2'></div>
    <div class='card span4 graph-card graph7-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph8-1'></div>
    <div class='card span4 graph-card graph8-2'></div>
    <div class='card span4 graph-card graph8-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph9-1'></div>
    <div class='card span4 graph-card graph9-2'></div>
    <div class='card span4 graph-card graph9-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph10-1'></div>
    <div class='card span4 graph-card graph10-2'></div>
    <div class='card span4 graph-card graph10-3'></div>
</div>
