<h1 class='title'>WALL-O-GRAPHS</h1>
<div style='visibility: hidden;' class='btn-graph btn-group' data-toggle='buttons-radio'>
    <button type='button' data-id='overview' class='btn btn-primary'>Overview</button>
    <button type='button' data-id='cpudetail' class='btn btn-primary'>All CPUs</button>
    <button type='button' data-id='rwbytes' class='btn btn-primary'>OSD RW Bytes</button>
    <button type='button' data-id='rwawait' class='btn btn-primary'>OSD RW Await</button>
    <button type='button' data-id='iops' class='btn btn-primary'>OSD IOPS</button>
    <button type='button' data-id='diskbytes' class='btn btn-primary'>Diskspace Bytes</button>
    <button type='button' data-id='diskinodes' class='btn btn-primary'>Diskspace Inodes</button>
</div>
<div class='row'>
    <div class='card span6 graph-card graph0-1'></div>
    <div class='card span6 graph-card graph0-2'></div>
</div>
<div class='row'>
    <div class='card span6 graph-card graph1-1'></div>
    <div class='card span6 graph-card graph1-2'></div>
</div>
<div class='row'>
    <div class='card span6 graph-card graph2-1'></div>
    <div class='card span6 graph-card graph2-2'></div>
</div>
<div class='row'>
    <div class='card span6 graph-card graph3-1'></div>
    <div class='card span6 graph-card graph3-2'></div>
</div>
<div class='row'>
    <div class='card span6 graph-card graph4-1'></div>
    <div class='card span6 graph-card graph4-2'></div>
</div>
