<div class='row'>
    <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
      <div class='card graph-card <%- graphid %>'>
        <div class='graph-spinner'><i class="fa fa-spinner fa-spin fa-lg fa-3x"></i></div>
        <h2 class='graph-subtitle'></h2>
        <div class='workarea_g col-md-7 col-lg-7 col-sm-7 col-xs-7'></div>
        <div class='graph-controls'>
          <div class='graph-icon'><i class='fa fa-clock-o fa-2x'></i></div>
          <div class='graph-value'>Day</div>
          <div class='graph-range'>
            <span class='left'></span><input type='range' value=2 min=0 max=4 /><span class='right'></span>
          </div>
        </div>
        <div class='legend-area'>
          <h3 class='dygraph-legend-title'>Legend</h3>
          <div class='dygraph-legend col-md-5 col-lg-5 col-sm-5 col-xs-5'></div>
        </div>
        <div class='icon-space'></div>
      </div>
    </div>
</div>
