<h1 class='title'>WALL-O-GRAPHS</h1>
<div class='row'>
    <div class='card span4 graph-card graph0-1'></div>
    <div class='card span4 graph-card graph0-2'></div>
    <div class='card span4 graph-card graph0-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph1-1'></div>
    <div class='card span4 graph-card graph1-2'></div>
    <div class='card span4 graph-card graph1-3'></div>
</div>
<div class='row'>
    <div class='card span4 graph-card graph2-1'></div>
    <div class='card span4 graph-card graph2-2'></div>
    <div class='card span4 graph-card graph2-3'></div>
</div>
