<hr class="style-two"></hr>
<span class="card-title">
    <%- title %>
</span>
<span style="visibility:hidden;" class="fa fa-spinner fa-spin"></span>
<span class="health-text <%- clazz %>">
    <%- healthText %>
</span>
<span class="subtext">
    <%- relTimeStr %>
</span>
