<span class="card-title">
    <%- title %>
</span>
<span style="visibility:hidden;" class="icon-spinner icon-spin"></span>
<hr class="style-two"></hr>
<span class="health-text <%- clazz %>">
    <%- healthText %>
</span>
<span class="subtext">
    <%- relTimeStr %>
</span>
