<div class='iops card gauge'>
     <div class='card-title'>IOPS</div>
     <div class='iops-stats col-md-4 col-sm-3 col-xs-3'>
       <div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
       <div class='subline'></div>
       <div class='subtext'></div>
     </div>
     <div class='iopscanvas col-md-8 col-sm-9 col-xs-9'></div>
     <div class='card-icon'>
       <i class="fa fa-fighter-jet fa-rotate-270 fa-lg fa-2x"></i>
     </div>
<div class='card-status-icon ok'>
  <span class="fa-stack fa-lg fa-2x">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-check fa-stack-1x"></i>
  </span>
</div>
</div>
