    <div class="bbm-modal__topbar">
      <h3 class="bbm-modal__title" class="<%- title-clazz %>"><%- title %></h3>
    </div>
    <div class="bbm-modal__section">
        <p>Request Tracking depends on a feature, indexdb,  in your browser which is not
         available when you are using
         <a href="https://support.mozilla.org/en-US/kb/private-browsing-browse-web-without-saving-info?redirectlocale=en-US&as=u&redirectslug=Private+Browsing&utm_source=inproduct" target="_blank">
         private</a> or incognito browsing mode.</p>
        <p>The application will still function, and you may view requested tasks via the notification <i class="fa fa-bell"></i>.</p>
        <p>Pop up event notifications however, will be disabled until you stop using private browsing.</p>
    </div>
    <div class="bbm-modal__bottombar">
      <a href="#" class="bbm-button">Close</a>
    </div>
