<span class='card-title'>MON</span>
<span style='visibility: hidden;' class='fa fa-spinner fa-spin'></span>
<center><h2 class='mon-state fail'>QUORUM</h2></center>
<center><h3 class='mon-count'>1 of 5</h3></center>

