<div class="gauge card mon">
    <span class='card-title'>MON</span>
    <div class='content'>
<div class='headline'>5/5</div>
<div class='subtext'>QUORUM</div>
</div>
<div class='card-icon'>
  <span class="fa-stack fa-lg fa-2x">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-eye fa-stack-1x"></i>
  </span>
</div>
</div>
