<div class="gauge card mon">
    <span class='card-title'><i class="fa fa-eye fa-lg fa-1x"></i> MON</span>
    <div class='content'>
<div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
<div class='subline'>Quorum</div>
<div class='subtext'></div>
</div>
<div class='card-icon ok'>
  <span class="fa-stack fa-lg fa-2x">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-check fa-stack-1x"></i>
  </span>
</div>
<div class='card-status-icon ok'>
</div>
</div>
