<span class='card-title'>MON</span>
<span style='visibility: hidden;' class='fa fa-spinner fa-spin'></span>
<center><h2 class='mon-state ok'>QUORUM</h2></center>
<center><h3 class='mon-count'></h3></center>
<span class="subtext"></span>

