<span class="timesince"><%- timeStr %></span>
<span class="message">
<span class="message-title"><i class="<%- className %>"></i> <%- title %></span>
<span class="message-detail"><%- message %></span>
</span>
