<span class='card-title'>OSD</span>
<span style='visibility: hidden;' class='fa fa-spinner fa-spin'></span>
<center><h1 class='osd-count'></h1></center>
<center><h3 class='osd-state'></h3></center>
<center class='osd-dots'>
  <i class='osd-hidden osd-dot osd-one fa fa-circle-o'></i>
  <i class='osd-hidden osd-dot osd-two fa fa-circle-o'></i>
  <i class='osd-hidden osd-dot osd-three fa fa-circle-o'></i>
</center>
<div class='osd-total'><div>

