<div class="gauge card osd">
    <span class='card-title'>OSD</span>
    <div class='content'>
<div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
<div class='subline'></div>
<div class='subtext'></div>
</div>
<div class='card-icon'>
  <span class="fa-stack fa-lg fa-2x">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-hdd-o fa-stack-1x"></i>
  </span>
</div>
</div>
