<div class="gauge card osd">
    <span class='card-title'>OSD</span>
    <div class='content'>
<div class='headline'>40/40</div>
<div class='subline'>In and Up</div>
</div>
<div class='card-icon'>
  <span class="fa-stack fa-lg fa-2x">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-hdd-o fa-stack-1x"></i>
  </span>
</div>
</div>
