<div class='dots'>
    <div class="pixel-row"></div>
    <div class="pixel-row"></div>
    <div class="pixel-row"></div>
    <div class="pixel-row"></div>
    <div class="pixel-row"></div>
    <div class="pixel-row"></div>
</div>
