<div class="gauge card osd">
    <span class='card-title'><i class="fa fa-hdd-o fa-lg"></i> OSD</span>
    <div class='content'>
<div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
<div class='subline'></div>
<div class='subtext'></div>
</div>
<div class='card-icon ok'>
  <span style='' class="fa-stack fa-lg fa-2x">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-check fa-stack-1x"></i>
  </span>
</div>
<div class='card-status-icon'>
</div>
</div>
