<div class='pgmap card gauge'>
     <div class='card-title'><i class="fa fa-sitemap fa-lg"></i> Placement Group Status</div>
     <div class='pgstats col-md-4 col-sm-4 col-xs-12'>
       <div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
       <div class='subline'>Active & Clean</div>
       <div class='subtext'></div>
     </div>
     <div class='pgcanvas col-md-8 col-sm-8 hidden-xs'></div>
     <div class='card-icon ok'>
       <span class="fa-stack fa-lg fa-2x">
         <i class="fa fa-square-o fa-stack-2x"></i>
         <i class="fa fa-check fa-stack-1x"></i>
       </span>
     </div>
<div class='card-status-icon'>
</div>
</div>
