<div class='pgmap card gauge'>
     <div class='card-title'>PG Map</div>
     <div class='pgcanvas col-md-6'>
     </div>
     <div class='pgstats col-md-3'>
       <div class='headline'>19.5k/20k</div>
       <div class='subline'>Active & Clean</div>
     </div>
     <div class='subtext'></div>
</div>
