<div class="gauge card pools">
  <span class='card-title'>POOLS</span>
  <div class='content'>
    <div class='headline'><i class='fa fa-refresh fa-spin'></i></div>
    <div class='subtext'></div>
  </div>
  <div class='card-icon'>
    <i class="fa fa-tint fa-lg fa-2x"></i>
  </div>
  <div class='card-status-icon ok'>
    <span class="fa-stack fa-lg fa-2x">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x"></i>
    </span>
  </div>
</div>

