<tr>
    <td><i class="<%- clazz %>"></i></td>
    <td><%- headline %></td>
    <td data-toggle="popover" data-placement="top" data-content="<% error_message %>"><%- state %></td>
    <td><%- time %></td>
</tr>
