<span class="card-title">
    <%- title %>
</span>
<span style='visibility: hidden;' class="icon-spinner icon-spin"></span>
<hr class="style-two"></hr>
<table class='table metrics'>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th class="ok">OK</th>
            <th class="warn">WARN</th>
            <th class="fail">CRIT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>MON <span class='mon-status'></span></th>
            <td class='ok-mon'>0</td>
            <td class='warn-mon'>0</td>
            <td class='fail-mon'>0</td>
        </tr>
        <tr>
            <th>OSD</th>
            <td class='ok-osd'>0</td>
            <td class='warn-osd'>0</td>
            <td class='fail-osd'>0</td>
        </tr>
        <tr>
            <th>PG <span class='pg-status'></span></th>
            <td class='ok-pg'>0</td>
            <td class='warn-pg'>0</td>
            <td class='fail-pg'>0</td>
        </tr>
    </tbody>
</table>
<span class="subtext">
    <%- relTime %>
</span>
