<span data-type='<%- state1 %>' class='switcher-state switcher-one'>
    <span class="switcher-circle switcher-active">
        <i class='icon-large icon-hdd'></i>
    </span>
    <span class='switcher-text-one'><%- state1 %></span>
</span>
<span data-type='<%- state2 %>' class='switcher-state switcher-two'>
    <span class="switcher-circle">
        <i class='icon-large icon-cloud'></i>
    </span>
    <span class='switcher-text-two'><%- state2 %></span>
</span>
