<span class='switcher-text-left'><%- state1 %></span><span data-type='<%- state1 %>' class='switcher-state switcher-left'><span class="switcher-circle switcher-active"><i class='icon-large icon-hdd'></i></span></span><span data-type='<%- state2 %>' class='switcher-state switcher-right'><span class="switcher-circle"><i class='icon-large icon-cloud'></i></span></span><span class='switcher-text-right switcher-text-hidden'><%- state2 %></span>

