<div class='gauge card usage'>
    <span class="card-title"><%- title %></span>
    <span style="visibility:hidden;" class="fa fa-spinner fa-spin"></span>
    <hr class="style-two"></hr>
    <div style='display:none;' class="mytext">
        <span class="number">0</span><span style='font-size:0.5em;'>%</span></div>
    <canvas class="usage-canvas"></canvas>
    <span class="subtext">
        <span class="totalused">0</span> of <span class="totalcap">0T</span>
    </span>
</div>
