<div class='gauge card usage'>
    <span class="card-title">Usage</span>
    <span style="visibility:hidden;" class="fa fa-spinner fa-spin"></span>
    <hr class="style-two"></hr>
    <div class="totalused">0</div>
    <div class="totalcap">0T</div>
    <canvas class="usage-canvas"></canvas>
    <span class="subtext">
        <span class="number">0</span>% free
    </span>
    <div class='card-icon'>
        <i class="fa fa-cloud fa-lg fa-2x"></i>
    </div>
    <div class='card-status-icon ok'>
      <span class="fa-stack fa-lg fa-2x">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x"></i>
      </span>
</div>
</div>
