<span class="card-title"><%- title %></span>
<hr class="style-two"></hr>
<div class="mytext"><span class="number">0</span>%</div>
<canvas class="usage-canvas"></canvas>
<span class="subtext"><span class="totalused">0</span> of <span class="totalcap">0T</span></span>
