<span class="card-title">OSD Status</span><span class="viz-controls pull-right"><i class="icon-fullscreen"></i></span>
<span style="visibility:hidden;" class="icon-spinner icon-spin"></span>
<hr class="style-two"></hr>
<div id="viz" class="viz span9"></div>
<div class="detail-outer">
  <div class="detail span2">OSD Attributes
     <hr class="style-two">
     <table>
         <tbody>
             <tr>
                 <td colspan=2>No OSD selected</td>
             </tr>
         </tbody>
     </table>
  </div>
</div>
