<span class="card-title">OSD Status</span>
<span style="visibility:hidden;" class="icon-spinner icon-spin"></span>
<hr class="style-two"></hr>
<div style='display:none' class='filter-panel span2'>
  <h5 class='legend-pos'>Filter by<h5>
  <div class="switcher make-switch" data-on-label="OSD" data-off-label="PG" data-on='primary' data-off='primary' data-label-icon='icon-large icon-hdd'></div>
  <h5 class='legend-pos'>Sort by</h5>
  <div class='viz-controls sort make-switch' data-text-label='Sort' data-off='info' data-on='info' data-on-label='OSD' data-off-label='Host'>
      <input type='checkbox' checked>
  </div>
  <h5 class='legend-pos'>States</h5>
  <ul class="filter"></ul>
</div>
<div id="viz" class="viz span9"></div>
<div class="detail-outer">
  <div class="detail span2 detail-popover">OSD Attributes
     <hr class="style-two">
     <table>
         <tbody>
             <tr>
                 <td colspan=2>No OSD selected</td>
             </tr>
         </tbody>
     </table>
  </div>
</div>
