$itapp-background-color: $itdarkgray;
$itapp-card-color: $itlightgray;
$itapp-font-family: 'ApexSansMedium';
$itapp-standard-font-color: $itdarkgray;
$itapp-card-border-radius: 1px;
$itapp-card-box-shadow-color: #5e6a71;
$itapp-subtext-font-color: $itgray;
$itapp-card-title-font-color: $itdarkred;

body {
    background-color: $itapp-background-color;
    font-family: $itapp-font-family;
    font-style: normal;
}

$itapp-card-height: 200;
$second-row-height: 600px;
$third-row-height: 120px;

.navbar {
    margin-bottom:0;
    min-height: 58px;
    @include background(linear-gradient(to bottom, darken($itdarkred, 20%), darken($itred, 40%)));
    @include border-radius(3px);
    @include box-shadow(0 2px 4px rgba(0, 0, 0, .2));
    border: 1px solid darken($itdarkred, 15%);
    width: 100%;
}

.navbar .navbar-nav > li > a {
	text-shadow: 0 1px 0 $itgray;
	color: $itlightgray;
        @include background(linear-gradient(to bottom, darken($itdarkred, 20%), darken($itred, 40%)));
	&:hover {
		color: darken($itlightgray, 15%);
	}
	&:active {
	}
}
.dropdown-menu {
	background-color: $itlightgray;
    span {
        display: inline-block;
        width: 20px;
        text-align: center;
        margin-right: 5px;
    }
}

.card {
    position: relative;
    color: $itapp-standard-font-color;
    background-color: $itapp-card-color;
    @include box-shadow(0 2px 4px rgba(0,0,0,.2));
    @include box-sizing(border-box);
    @include border-radius($itapp-card-border-radius);
    width: 100%;
    padding: 9px;
    margin-top: 8px;
    @include breakpoint(screen-xs) {
	min-width: 200px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: ApexSansMedium;
    }
}

.pgmap.card, .pgstat.card {
    min-height: #{$itapp-card-height*1.1}px;
}

.custom-gutter {
    padding-left: 4px;
    padding-right: 4px;
}
.btn {
    font-family: ApexSansLight;
}
.btn-pool {
	min-width: 150px;
}
.btn-cluster {
	min-width: 90px;
}

.gauge {
    min-height: #{$itapp-card-height}px;
    text-align: left;
    line-height: 1.25;
}

$color-width: 5px;

$hr-width: auto;
hr.style-two {
    display: none;
    border: 0;
    margin: 0 0 0 0;
    height: 3px;
    width: 33%;
    right: 0;
    background: #ccc;
}
.card-title {
    color: $itdarkgray;
    text-transform: uppercase;
    font-family: ApexSansLight;
    font-size: 1.5em;
}
.table tbody td {
	font-family: ApexSansLight;
}
.icon-target {
	padding: 2px;
}
@mixin textalert($color) {
       color: $color;
       opacity: 0.95;
}
.mon-state {
    margin-top: 20px;
}
.pg-state {
  margin-top: 40px;
}
.pg-count {
}
.pg-count-top {
  display: inline-block;
  margin-bottom: 5px;
}
.pg-count-bottom {
  font-size: 0.8em;
  text-transform: capitalize;
}
.warn {
       @include textalert(orange);
}
.fail {
       @include textalert(red);
}
.ok {
       @include textalert(green);
}
.notifications {
    min-height: $third-row-height;
    margin-bottom: 10px;
}
.container {
    position: relative;
}
$bc-item-width: 52;
$bc-height: 33;
$bc-line-width: 40;
$bc-width: $bc-height;
$bc-margin: 4;
$bc-item-count: 4;
.nav.navbar {
    border-bottom: 1px solid $itgray;
}
.inknav {
    @include user-select(none);	
    display: inline-block;
    max-width: #{(($bc-item-width * $bc-item-count) + ($bc-line-width)* ($bc-item-count - 1)) + 12}px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 4px;
}
.bc-entry {
    margin: #{$bc-margin - 2}px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: #{$bc-height}px;
    width: #{$bc-width}px;
    text-overflow: hidden;
    overflow: hidden;
    @include border-radius(100%);
    @include background(linear-gradient(top left, lighten($itgray, 30%), $itdarkgray));
    line-height: 1.9;
    color: $itlightgray;
    cursor: pointer;
}
.bc-entry:hover {
    @include background(linear-gradient(top left, $itdarkgray, lighten($itgray, 30%)));
}
.bc-entry:active {
    @include background(linear-gradient(top left, $itdarkgray, $itlightgray));
}
.bc-line {
    height: 30px;
    border-top: 2px solid $itgray;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: #{$bc-line-width}px;
}
.bc-active {
    color: $itdarkgray;
    background: $itlightgray;
    cursor: default;
}
.bc-active:hover {
    background: $itlightgray;
}
.bc-circle {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: #{$bc-height+($bc-margin * 2)}px;
    width: #{$bc-width+ ($bc-margin * 2)}px;
    text-overflow: hidden;
    overflow: hidden;
    @include border-radius(100%);
    border: 2px solid $itgray;
    margin: 0px auto;
    padding: 0px;
    cursor: pointer;
}
.bc-title {
    color: $itlightgray;
    font-size: 8px;
    margin-top: 0;
}
.bc-title-one {
}
.bc-title-two {
}
.bc-title-three {
}
.bc-item {
    text-align: center;
    display: inline-block;
    max-width: #{$bc-item-width}px;
    min-width: #{$bc-item-width}px;
    margin: 0 auto;
    padding: 0;
}
