@font-face {
    font-family:'ApexSansMedium';
    font-style: normal;
    src: url('fonts/ApexSans-Medium.woff') format('woff');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family:'ApexSansLight';
    font-style: normal;
    src: url('fonts/ApexSans-Light.woff') format('woff');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
