<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body" ng-bind="content"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-primary" ng-click="$hide()">不是，高开这里</button>
        <button type="button" class="btn btn-default btn-danger" ng-click="confirm()">是的，删除pool</button>
      </div>
    </div>
  </div>
</div>
