<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <i class='fa fa-desktop fa-lg'></i>
                 <h4 style='display: inline-block; margin-left: 10px;' class="modal-title" ng-bind="title"></h4>

            </div>
            <div class="modal-body">
                <table class='table table-condensed'>
                    <thead>
                        <tr>
                            <th class='text-muted'> 关键词</th>
                            <th class='text-muted'>值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pair in pairs">
                            <td class='text-muted' ng-bind="pair.key"></td>
                            <td ng-bind="pair.value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-success" ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>
