<div class="container-fluid">
    <div ng-include="'views/appbar.html'"></div>
    <div class="card am-fade-and-slide-top" ng-show='up' style='min-height: 500px; line-height: 2;'>
        <div ng-hide="clusterDiscoveryTimedOut">
             <h3 class="text-info"> 新安装好的 Calamari</h3>

            <p style='width: 40em;'>出现这个页面是因为 <span class='text-info'>第一次</span> 安装
                Calamari 并且当前没有配置好的集群.</p>
            <div ng-if='hosts.pre.length > 0'>
                <p ng-if='hosts.accepted'>当前这里 <span class='badge'>{{hosts.accepted.length}}</span> host(s) 
                    在 Calamari中注册了.</p>
                <p ng-if='hosts.pre'>I have detected <span class='badge'>{{hosts.pre.length}}</span> host(s) requesting
                    registration.</p>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                         <h4 class='text-info'>Hosts Requesting to Be Managed By Calamari</h4>

                        <ol>
                            <li ng-repeat='key in hosts.pre'><span class='text-primary'>{{key.id}}</span>

                            </li>
                        </ol>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-md-offset-1 col-lg-offset-1">
                        <div style='margin-top: 15px;'>
                            <button ng-disabled='addDisabled' class='btn btn-primary' ng-click='acceptAll()'>ADD</button>
                        </div>
                    </div>
                    <div style='margin-top: 30px;' class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <p class='text-warning'>现在您还不行执行其它任何操作，需要先将主机加入到Calamari，可以通过这个界面添加，也可以通过命令行添加。</p>
                    </div>
                </div>
            </div>
            <div ng-if='hosts.pre.length === 0'>
                <div style='width: 40em;' ng-if='hosts.accepted.length === 0'>
                    <p> Calamari服务器已经准备好开始监视Ceph集群，请使用命令 <code>ceph-deploy calamari connect [nodes]</code> 来连接Ceph集群与Calamari服务器。</p>
                     <h4>例子</h4>

<pre>
# ceph-deploy calamari connect node1 node2 node3
</pre>

                </div>
                <div style='width: 40em;' ng-if='hosts.accepted.length > 0'>
                    <p><span class='badge text-info'>{{hosts.accepted.length}}</span> Ceph服务器已经连接上了Calamari，但还没有创建Ceph集群。请使用<code>ceph-deploy</code>来创建一个集群。详细信息请通过Inktank Ceph官方文档查看。</p>
                </div>
                <div ng-show='debug'>{{ hosts | json }}</div>
            </div>
        </div !-- card -->
        <div style="margin-left: 10px;" ng-show="clusterDiscoveryTimedOut">
             <h3 class="text-info"><i style="color: orange;" class="fa fa-lg fa-warning"></i> No Cluster Available</h3>

            <p style="width: 40em;">非常抱歉，当前我们没有找到已部署好的Ceph集群。这可能是Ceph或者Calamari安装没有完成。请参阅文档<a href="http://ceph.com/docs/master/rados/deployment/">ceph.com</a>，然后检查所有的推荐的部署步骤是否安装成功。</p>
            <p style="width: 40em;"> 解决问题后，重新加载此页，然后用户界面就可以自动初始化，然后正确显示。</p>
        </div>
    </div>
