<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                 <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body" ng-bind="content"> <i class='fa fa-spinner fa-spin'></i> Waiting for Hosts to Join...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-success" ng-disabled='closeDisabled' ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>
