<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Cluster</a></li>
                <li class="active"><a ng-href="#/osd">OSD</a></li>
                <li><a ng-href="#/pool">Pool</a></li>
                <li><a ng-href="#/tools">Tools</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class='pull-right'><a ng-href="#/requests">Requests</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card ng-hide am-fade-and-slide-bottom" ng-show='up'>
<h2 class="text-muted">CLUSTER {{clusterName}} &raquo; OSD HOST {{fqdn}} &raquo;</h2>
<div class="container">
<div class="row" style="border:0px solid black; padding: 20px 40px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <table class='table table-condensed'>
            <thead>
                <tr>
                    <th>osd id</th>
                </tr>
            </thead>
            </tbody>
                <tr class='am-fade-and-slide-top' ng-repeat='osd in services.osds'>
                    <td>{{osd.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footer">
</div>
</div>
</div !-- card -->
