<div ng-include="'views/appbar.html'"></div>
<div class="card ng-hide am-fade-and-slide-bottom" style='min-height: 500px;'
ng-show='up'>
     <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo; OSD &raquo; MODIFY &raquo;</h4>

    <div class="container">
         <h3>OSD <span class="text-primary">{{osd.id}}</span> Settings</h3>

        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                <div class="standard-spacing">
                    <form role="form" name="osdForm" novalidate>
                        <div class="form-group">
                            <label for="uuid">UUID <i class="fa fa-lock"></i>
                            </label>
                            <input id="uuid" class="form-control" length="64" type="text" readonly ng-model="osd.uuid"></input>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <div class="form-control" readonly> <span ng-if="osd.up" data-trigger="hover" data-type="info" title="{{tooltip.title}}"
                                class="label label-success" bs-tooltip>UP</span>
 <span ng-if="!osd.up" data-trigger="hover"
                                data-type="info" title="{{tooltip.title}}" class="label label-danger" bs-tooltip>DOWN</span>

                                <span
                                ng-if="osd.in" data-trigger="hover" data-type="info" title="{{tooltip.title}}"
                                class="label label-success" bs-tooltip>IN</span> <span ng-if="!osd.in" data-trigger="hover" data-type="info" title="{{tooltip.title}}"
                                    class="label label-warning" bs-tooltip>OUT</span>

                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': osdForm.reweight.$invalid && !osdForm.reweight.$pristine }">
                            <label for="reweight">Re-Weight</label>
                            <input required id="reweight" min="0" max="1" name="reweight"
                            type="number" class="form-control" ng-model="osd.reweight"></input>
                            <p ng-show='osdForm.reweight.$error.required' class='help-block'>Required Field</p>
                            <p ng-show='osdForm.reweight.$error.min' class='help-block'>Must be a value between 0 and 1 Inclusive</p>
                            <p ng-show='osdForm.reweight.$error.max'
                            class='help-block'>Must be a value between 0 and 1 Inclusive</p>
                        </div>
                        <div class="form-group">
                            <label>Server <i class="fa fa-lock"></i>
                            </label>
                            <a ng-click="gotoServer(osd.server)">
                                <input type="text" class="form-control" ng-model="osd.server" readonly></input>
                            </a>
                        </div>
                        <div class="form-group">
                            <button type="button" ng-click="cancelFn()" class="btn btn-danger btn-osd">CANCEL</button>
                            <button type="button" ng-click="resetFn()" class="btn btn-warning btn-osd">RESET</button>
                            <button type="button" ng-click="updateFn(osd.id)" ng-disabled="!osdForm.$valid || osdForm.$pristine" class="btn btn-primary btn-osd">UPDATE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                 <h3>Advanced Operations</h3>

                <div class="standard-spacing">
                    <p ng-if="osd.up"> <span class="osd-cmd-text">
                            Set OSD {{osd.id}} to
                        </span>

                        <button type="button" ng-click="down(osd.id)" class="btn btn-warning btn-osd">DOWN</button>
                    </p>
                    <p ng-if="osd.in"> <span class="osd-cmd-text">
                         Set OSD {{osd.id}} to
                      </span>

                        <button type="button" ng-click="out(osd.id)" class="btn btn-warning btn-osd">OUT</button>
                    </p>
                    <p ng-if="!osd.in"> <span class="osd-cmd-text">
                         Set OSD {{osd.id}} to
                       </span>

                        <button type="button" ng-click="in(osd.id)" class="btn btn-warning btn-osd">IN</button>
                    </p>
                    <p> <span class="osd-cmd-text">
                         Request OSD {{osd.id}}
                       </span>

                        <button type="button" ng-click="deepScrubFn(osd.id)" class="btn btn-warning btn-osd">DEEP SCRUB</button>
                    </p>
                    <p> <span class="osd-cmd-text">
                         Request OSD {{osd.id}}
                     </span>

                        <button type="button" ng-click="repairFn(osd.id)" class="btn btn-danger btn-osd">REPAIR</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</div !-- card -->
