<div ng-include="'views/appbar.html'"></div>
<div class="card ng-hide am-fade-and-slide-top" ng-show='up'>
     <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo; OSD HOSTS &raquo;</h4>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='standard-spacing'>
                    <table class="osd-hosts table condensed">
                        <thead>
                            <th>Host</th>
                            <th>OSD IDs</th>
                            <th>OSD Count</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat='server in servers' class="am-fade-and-slide-left">
                                <td>
                                    <button type="button" class="btn btn-md btn-primary btn-osd" ng-click="hostClickHandler(server.fqdn)"
                                    data-placement="center">{{server.hostname}}</button>
                                </td>
                                <td>
                                    <span ng-repeat="id in server.services.osdID">
                                        <button ng-click='gotoOSD(id)' class="btn btn-sm btn-success btn-osd-id">
                                            {{id}}
                                        </button>
                                    </span>
                                </td>
                                <td>
                                    {{server.services.osdCount}}
                                </td>
                            </tr>
                        </tbody>
                </div>
            </div>
        </div>
    </div !-- card -->
</div>
