<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
         <h3 class="">MANAGED SERVERS</h3>

    </div>
</div>
<div ng-repeat="index in [0,1,2,3]" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <table class='servers table'>
        <thead></thead>
        <tbody>
            <tr ng-repeat="minion in cols[index]" class="am-fade-and-slide-left">
                <td> <i class='fa fa-lg fa-2x' ng-class="{ 'fa-check-circle text-success': minion.status == 'accepted',
                                      'fa-question-circle text-warning': minion.status != 'accepted' }"></i>

                </td>
                <td class='text-primary' style="min-width: 100px;" data-id='{{minion.id}}'>{{minion.shortName}}</td>
                <td>
                    <button ng-bind-html='minion.label' class='btn btn-primary btn-sm btn-cluster'
                    ng-click="acceptMinion(index, minion)" ng-if="minion.status != 'accepted'"></button>
                    <button class='btn btn-info btn-sm btn-cluster' ng-click='detailView(minion.id)'
                    ng-if="minion.status == 'accepted'">DETAIL</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
