<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
         <h3 class="text-muted">集群设置</h3>

    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
        <div class='standard-spacing disable-user-select' style='margin-right: 0'>
            <div class="checkbox">
                <label data-target='noin' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.noin" name="noin" type="checkbox">No In</input>
                </label>
            </div>
            <div class="checkbox">
                <label data-target='noout' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.noout" name="noout" type="checkbox">No Out</label>
            </div>
            <div class="checkbox">
                <label data-target='noup' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.noup" name="noup" type="checkbox">No Up</input>
                </label>
            </div>
            <div class="checkbox">
                <label data-target='nodown' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.nodown" name="nodown" type="checkbox">No Down</input>
                </label>
            </div>
            <div class="checkbox">
                <label data-target='pause' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.pause" name="pause" type="checkbox">Pause</label>
            </div>
            <div class="checkbox">
                <label data-target='noscrub' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.noscrub" name="noscrub" type="checkbox">No Scrub</input>
                </label>
            </div>
            <div class="checkbox">
                <label data-target='nodeep-scrub' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs['nodeep-scrub']" name="nodeep-scrub" type="checkbox">No Deep Scrub</input>
                </label>
            </div>
            <div class="checkbox">
                <label data-target='nobackfill' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.nobackfill" name="nobackfill" type="checkbox">No Backfill</label>
            </div>
            <div class="checkbox">
                <label data-target='norecover' ng-mouseover='helpInfo($event)'>
                    <input ng-model="osdconfigs.norecover" name="norecover" type="checkbox">No Recover</input>
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class='standard-spacing' style='margin-left: 0'>
            <div ng-show="helpDiv == undefined" class="am-fade">
                 <h3 class="text-primary">集群 OSD 设置</h3>

                <p class="text-muted">请注意, 这里的设置将会影响到 <em>整个</em> 集群. 这 <em>可能会</em> 引发不可预期
		   的行为,包括数据丢失, 和阻止服务的正常操作。</p>
            </div>
            <div ng-show="helpDiv == 'pause'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> Pause</h3>

                <p class='text-muted'>禁用集群中所有OSD的 IO 请求。</p>
            </div>
            <div ng-show="helpDiv == 'nobackfill'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Backfill</h3>

                <p class='text-muted'>禁用集群的backfill 操作。</p>
            </div>
            <div ng-show="helpDiv == 'noout'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Out</h3>

                <p class='text-muted'>不允许OSD被标记为out。</p>
            </div>
            <div ng-show="helpDiv == 'nodeep-scrub'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Deep Scrub</h3>

                <p class='text-muted'>禁用OSD的周期性的自动深度清理操作。在有需求时，可能仍然会启动。</p>
            </div>
            <div ng-show="helpDiv == 'noscrub'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Scrub</h3>

                <p class='text-muted'>禁用OSD的周期性的自动清理操作。在有需求时，可能仍然会启动。</p>
            </div>
            <div ng-show="helpDiv == 'noin'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No In</h3>

                <p class='text-muted'>防止新启动的OSD自动标记为in。这可能会引起集群状态变成警告。</p>
                <p class='text-warning'>No in的标志防止OSD启动时标记为in，所有带有no in标记的OSD都将持续no in的状态直到重新启动。</p>
            </div>
            <div ng-show="helpDiv == 'noup'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Up</h3>

                <p class='text-muted'> 防止OSDs从Monitors处自动获取UP的标记，这个对排除<a href="http://ceph.com/docs/master/rados/troubleshooting/troubleshooting-osd/#flapping-osds">flapping OSDs.</a>的故障有用。</p>
            </div>
            <div ng-show="helpDiv == 'norecover'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Recover</h3>

                <p class='text-muted'>禁用PG的副本。</p>
            </div>
            <div ng-show="helpDiv == 'nodown'" class="am-fade">
                 <h3 class='text-primary'><i class="fa fa-info-circle fa-lg"></i> No Down</h3>

                <p class='text-muted'>防止OSDs自动获取Down的标记，这个对排除<a href="http://ceph.com/docs/master/rados/troubleshooting/troubleshooting-osd/#flapping-osds">flapping OSDs.</a>的故障有用。</p>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <div>
        <button ng-click="reset()" class="btn btn-warning">RESET</button>
        <button style="min-width: 100px;" ng-click="updateSettings()" ng-bind-html="updateLabel" class="btn" ng-class="{'btn-primary': updatePrimary, 'btn-success': updateSuccess, 'disabled': osdmapForm.$pristine || !updatePrimary }"></button>
    </div>
</div>
