<div class="header">
  <h3 class="text-muted">manage</h3>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Cluster</a></li>
                <li><a ng-href="#/osd">OSD</a></li>
                <li class="active"><a ng-href="#/pool">Pool</a></li>
                <li><a ng-href="#/tools">Tools</a></li>
            </ul>
        </div>
    </div>
</div>
<h2 class="text-muted">CLUSTER {{clusterName}} &raquo; POOL &raquo;</h2>
<div class="container">
<div class="row" style="border:0px solid black; padding: 20px 40px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button style="min-width: 200px;" type="button" ng-click="create()" class="btn btn-sm btn-primary" data-placement="center">Create Pool</button>
        <div style="margin-top: 10px;" ng-repeat="pool in pools" class="am-fade-and-slide-right">
            <button style="min-width: 200px;" type="button" class="btn btn-sm btn-success" ng-click='modify(pool.id)' data-id='{{pool.id}}' data-placement="center">{{pool.name}}</button>
        </div>
    </div>
</div>

<div class="footer">
</div>
</div>
