<div class="header">
  <h3 class="text-muted">manage</h3>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">Cluster</a></li>
                <li><a ng-href="#/osd">OSD</a></li>
                <li class="active"><a ng-href="#/pool">Pool</a></li>
            </ul>
        </div>
    </div>
</div>
<h2 class="text-muted">POOL &laquo; CREATE</h2>
<div class=".container">

<div class="row" style="border:0px solid black; padding: 20px 40px;">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="New Pool Name"></input>
            </div>
            <div class="form-group">
                <label>Quota</label>
                <input type="number" class="form-control" placeholder="Quota (Size)"></input>
            </div>
            <div class="form-group">
                <label>Placement Groups</label>
                <input type="number" class="form-control" placeholder="Placement Groups"></input>
            </div>
            <div class="form-group">
                <label>Replication Factor</label>
                <input type="number" class="form-control" placeholder="Replication Factor"></input>
            </div>
        </form>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div style="height: 10px"></div>
        <button style="min-width: 200px;" type="button" class="pull-right btn btn-lg btn-primary" data-placement="center">CREATE</button>
    </div>
    </div>
</div>

<div class="footer">
</div>
</div>
