<div ng-include="'views/appbar.html'"></div>
<div class="card ng-hide am-fade-and-slide-top" ng-show='up'>
    <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo; POOLS &raquo;</h4>
<div class="container">
<div class="row" style="border:0px solid black; padding: 20px 40px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button type="button" ng-click="create()" class="btn btn-md btn-primary btn-pool" data-placement="center">CREATE POOL</button>
        <div style="margin-top: 10px;" ng-repeat="pool in pools">
            <button type="button" class="btn btn-md btn-success btn-pool" ng-click='modify(pool.id)' data-id='{{pool.id}}' data-placement="center">{{pool.name}}</button>
        </div>
    </div>
</div>

</div>
</div !-- card -->
