<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind="title"></h4>
      </div>
      <div class="aside-body">
          <table class="table table-condensed">
              <thead>
                  <tr>
                      <th>&nbsp;</th>
                      <th>Task</th>
                      <th>Status</th>
                      <th>Updated</th>
                  </tr>
              <thead>
              <tbody>
                <tr ng-if="empty">
                    <td style="text-align: center;" colspan=4>No Requests Submitted</td>
                </tr>
                <tr ng-repeat="task in tasks">
                    <td><i ng-class="{
                            'text-info fa fa-spinner fa-spin': task.state === 'submitted',
                            'text-success fa fa-check-circle': task.state === 'complete',
                            'text-warning fa fa-exclamation-circle': task.state === 'error'
                           }"></i></td>
                    <td>{{task.headline}}</td>
                    <td>{{task.state}}</td>
                    <td>{{task.time}}</td>
                </tr>
              <tbody>
          </table>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
