<div ng-include="'views/appbar.html'"></div>
<div class="card am-fade-and-slide-top" ng-show='up'>
    <div class="container-fluid" style='min-height: 1000px;'>
         <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo;</h4>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class='btn-group pull-right' ng-model='button.radio' bs-radio-group>
                    <label class='btn btn-primary'>
                        <input class="btn btn-default" type='radio' value="servers">HOSTS</label>
                    <label class='btn btn-primary'>
                        <input class="btn btn-primary" type='radio' value="osdmap">CLUSTER SETTINGS</label>
                    <label class='btn btn-primary'>
                        <input class="btn btn-primary" type='radio' value="viewer">CONFIG BROWSER</label>
                </div>
            </div>
        </div>
        <div ng-show="button.radio == 'servers'">
            <div ng-include="'views/partial-server.html'"></div>
        </div>
        <div ng-show="button.radio == 'viewer'">
            <div ng-include="'views/partial-viewer.html'"></div>
        </div>
        <form name="osdmapForm" novalidate>
            <div ng-show="button.radio == 'osdmap'">
                <div ng-include="'views/partial-osd-config.html'"></div>
            </div>
        </form>
    </div>
</div !-- card -->
