<div ng-include="'views/appbar.html'"></div>
<div class="card am-fade-and-slide-top" ng-show='up'>
<div class="row">
</div>
<h4 class="text-primary">CLUSTER {{clusterName}} &raquo;</h4>
<div class="container">
<div style='display:none;' class="row" style="border:1px solid black; padding: 20px 5px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button type="button" class="btn btn-lg btn-primary" data-placement="center">Commit</button>
        <div style="height: 10px"></div>
        <button type="button" class="btn btn-lg btn-primary" data-placement="center">Cancel</button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <button type="button" class="btn btn-lg btn-info" bs-tooltip="tooltip1">PENDING<br/>Pina01</button>
        <button type="button" class="btn btn-lg btn-success" bs-tooltip="tooltip2">APPROVED<br/>Pina02</button>
        <button type="button" class="btn btn-lg btn-warning" bs-tooltip="tooltip3">REJECTED<br/>Pina03</button>
        <button type="button" class="btn btn-lg btn-danger" bs-tooltip="tooltip4">BLOCKED<br/>Pina04</button>
        
    </div>
</div>

<div style='display:none;' class="row" style="border:1px solid black; padding: 20px 5px;">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <button type="button" class="btn btn-lg btn-primary" data-placement="center">Commit</button>
        <div style="height: 10px"></div>
        <button type="button" class="btn btn-lg btn-primary" data-placement="center">Cancel</button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <button type="button" class="btn btn-lg btn-info" bs-tooltip="tooltip1">PENDING<br/>Polo01</button>
        <button type="button" class="btn btn-lg btn-info" bs-tooltip="tooltip2">PENDING<br/>Polo02</button>
        <button type="button" class="btn btn-lg btn-info" bs-tooltip="tooltip3">PENDING<br/>Polo03</button>
        <button type="button" class="btn btn-lg btn-info" bs-tooltip="tooltip4">PENDING<br/>Polo04</button>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <h3 class="text-center text-muted">CLUSTER MEMBERSHIP</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <table style="margin-top: 40px;" class='table table-condensed'>
            <thead>
                {{ minions | json }}
            </thead>
            <tbody>
              <tr ng-repeat="minion in leftminions" class="am-fade-and-slide-left">
                  <td><i class='fa fa-lg'
                          ng-class="{ 'fa-check-circle text-success': minion.status == 'accepted',
                                      'fa-question-circle text-warning': minion.status != 'accepted' }"
                          ></i></td>
                  <td style='text-align: center;' class='text-primary' data-id='{{minion[0].id}}'>{{minion.shortName}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <table style="margin-top: 40px;" class='table table-condensed'>
            <thead>
                {{ minions | json }}
            </thead>
            <tbody>
              <tr ng-repeat="minion in rightminions" class="am-fade-and-slide-right">
                  <td style='text-align: center;' class='text-primary' data-id='{{minion[0].id}}'>{{minion.shortName}}</td>
                  <td style='text-align: right;' ><i class='fa fa-lg'
                          ng-class="{ 'fa-check-circle text-success': minion.status == 'accepted',
                                      'fa-question-circle text-warning': minion.status != 'accepted' }"
                          ></i></td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div !-- card -->
