<div ng-include="'views/appbar.html'"></div>
<div class="card am-fade-and-slide-top" ng-show='up'>
    <div class="container-fluid" style='min-height: 1000px;'>
         <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo;</h4>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                 <h3 class="text-center text-muted">CLUSTER MEMBERSHIP</h3>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <table style="margin-top: 40px;" class='table'>
                    <thead></thead>
                    <tbody>
                        <tr ng-repeat="minion in leftminions" class="am-fade-and-slide-left">
                            <td> <i class='fa fa-lg fa-2x' ng-class="{ 'fa-check-circle text-success': minion.status == 'accepted',
                                      'fa-question-circle text-warning': minion.status != 'accepted' }"></i>

                            </td>
                            <td class='text-primary' data-id='{{minion.id}}'>{{minion.shortName}}</td>
                            <td>
                                <button class='btn btn-primary btn-cluster' ng-if="minion.status != 'accepted'">ACCEPT</button>
                                <button class='btn btn-info btn-cluster'
                                    ng-click='detailView(minion.id)'
                                    ng-if="minion.status == 'accepted'">DETAIL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <table style="margin-top: 40px;" class='table'>
                    <thead>{{ minions | json }}</thead>
                    <tbody>
                        <tr ng-repeat="minion in rightminions" class="am-fade-and-slide-right">
                            <td><i class='fa fa-lg fa-2x' ng-class="{ 'fa-check-circle text-success': minion.status == 'accepted',
                                      'fa-question-circle text-warning': minion.status != 'accepted' }"></i>

                            </td>
                            <td class='text-primary' data-id='{{minion.id}}'>{{minion.shortName}}</td>
                            <td>
                                <button class='btn btn-primary btn-cluster' ng-if="minion.status != 'accepted'">ACCEPT</button>
                                <button class='btn btn-info btn-cluster' 
                                    ng-click='detailView(minion.id)'
                                    ng-if="minion.status == 'accepted'">DETAIL</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <h4 class='text-info'>Config Viewer</h4>

                <form>
                    <input type='text' placeholder='filter keys' ng-model='searchText'></input>
                </form>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
                <div class='table-responsive'>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='config in configs | filter:searchText'>
                                <td>{{config.key}}</td>
                                <td>{{config.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div !-- card -->
