<div ng-include="'views/appbar.html'"></div>
<div class="card am-fade-and-slide-top" ng-show='up' style='min-height: 500px;'>
     <h4 class="text-info">CLUSTER <span class='text-primary'>{{clusterName}}</span> &raquo; Logs &raquo;</h4>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <h4>Log Tail</h4>

                <div>
                    <div style='background: #eee; padding: 10px;' ng-switch on="logui"> <span ng-switch-when="logs">
              <p class='small' ng-repeat='line in logs'>
                <span style='display: inline-block; min-width: 80px; text-align: left;' class='text-primary'>{{line.timestamp}}</span>

                        <span
                        style='display: inline-block; min-width: 50px; text-align: left;' class='text-success'>{{line.unit}}</span> <span style='display: inline-block; min-width: 180px;' class='text-info'>{{line.address}}</span>

                            <span
                            style='' class='text-success'>{{line.rest}}</span>
                                </p>
                                </span> <span class="text-muted" ng-switch-default>
                <i class="fa fa-spinner fa-spin fa-lg"></i> Loading...
            </span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div !-- card -->
