@import 'font-awesome/scss/font-awesome';
@import 'modules/bootstrap-additions.min';
@import 'modules/angular-motion';
@import 'modules/angular-growl.min';
@import 'modules/bootstrap3_vars';
@import 'modules/inktank_colors';
@import 'partials/base.scss';
@import 'modules/angular-toggle-switch';
@import 'modules/angular-toggle-switch-bootstrap';
@import 'compass/css3/user-interface';

.disable-user-select {
    @include user-select(none);
}
.truncate {
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-osd-id {
	margin: 2px;
	width: 3.5em;
}
.servers.table {
	margin-bottom: 0;
}
.osd-hosts.table>tbody>tr>td {
	vertical-align: top;
}
