@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

$itred: #f05c56;
$itdarkred: #9c4850;
$itgray: #5e6a71;
$itdarkgray: #37424a;
$itlightgray: #e6e8e8;
$itaqua: #55aeba;
$itlightaqua: #80d2dc;

@font-face {
        font-family: 'ApexSansMedium';
        font-style: normal;
        src: url('ApexSans-Medium.woff') format('woff');
}

body {
        background-color: $itdarkgray;
        font-family: 'ApexSansMedium';
        font-style: normal;
	color: $itgray;
}

.app {
	margin-top: 10px;
}

h5.title {
	margin-left: 8px;
	margin-top: 5px;
	+hr {
		border: 0;
		padding: 0;
		margin: 8px 6px;
		height: 1px;
		background: #ccc;
	}
}

.info {
	min-height: 600px;
	background-color: $itlightgray;
	border-radius: 3px;
}

.logs {
	min-height: 600px;
	background-color: $itlightgray;
	border-radius: 3px;
}
