@import 'inktank_colors';
@import 'compass/css3';
@import 'compass/utilities';

.graph-mode {
    color: $itlightgray;
    position: absolute;
    top: 5px;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    height: 1000px;
    background-color: $itdarkgray;
    @include box-shadow(0 0 0);
}

.graph-card {
	height: 284px;
	margin-top: 25px;
	visibility: hidden;
}

.graph-title {
	color: $itlightgray;
	top: -23px;
	font-size: 16px;
	text-align: center;
	width: 100%;
	text-transform: Capitalize;
	display: inline-block;
	position: absolute;
}

.graph-title-system {
	margin-left: 46px;
}

.it-graph-controls {
	text-align: center;
	margin-top: 55px;
}
.btn.it-btn-left {
	@include border-top-left-radius(4px);
	@include border-bottom-left-radius(4px);
}
