// Bootstrap
@import 'sass-bootstrap/lib/bootstrap';
// Bootstrap Switch
@import 'vendor/bootstrap-switch';
// font-awesome
@import 'font-awesome/scss/font-awesome';

// Bootstrap breakpoints from css-tricks
@import 'modules/bootstrap3_vars';

// Standard color vars
@import 'modules/inktank_colors';

// Application Specific Styles
@import 'partials/base';
