// Bootstrap
@import 'sass-bootstrap/lib/bootstrap';
// Bootstrap Switch
@import 'vendor/bootstrap-switch';
//
@import 'vendor/dan_eden_animate';
@import 'vendor/backbone.modal';
@import 'vendor/backbone.modal.theme';
// font-awesome
@import 'font-awesome/scss/font-awesome';

// Bootstrap breakpoints from css-tricks
@import 'modules/bootstrap3_vars';

// Standard color vars
@import 'modules/inktank_colors';


// fade-animation
@import 'modules/fade-and-slide';

// Application Specific Styles
@import 'partials/base';
