@import 'sass-bootstrap/lib/bootstrap';

@font-face {
	font-family: 'ApexSansMedium';
	font-style: normal;
	src: url('ApexSans-Medium.woff') format('woff');
}

$itred: #f05c56;
$itdarkred: #9c4850;
$itgray: #5e6a71;
$itdarkgray: #37424a;
$itlightgray: #e6e8e8;
$itaqua: #55aeba;
$itlightaqua: #80d2dc;

$itapp-background-color: $itdarkgray;
$itapp-card-color: $itlightgray;
$itapp-font-family: 'ApexSansMedium';
$itapp-standard-font-color: $itdarkgray;

body {
	background-color: $itapp-background-color;
	font-family: $itapp-font-family;
	font-style: normal;
}

$itapp-card-height: 220px;
.gauge {
    margin-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    background-color: $itapp-card-color;
    min-height: $itapp-card-height;
    text-align: left;
    line-height: 1;
    padding: 9px;
    color: $itapp-standard-font-color;
}

/* Gradient transparent - color - transparent */

		
$hr-width: 173px;
hr.style-two {
    border: 0;
    margin: 8px 0 8px 0;
    height: 1px;
    background: #ccc;
}
.card-title {
	text-transform: uppercase;
}
table.metrics tr td:first-child {
    text-align: right;
    color: $itgray;
}
table.metric td:last-child {
}
span.infotext {
    font-size: 25px;
    text-align: center;
    display: inline-block;
    margin: 10px auto auto 50px;
}
span.infotext-2 {
    position: absolute;
    right: 26px;
    bottom: 70px;
    display: inline-block;
    margin: 10px auto auto 4px;
    color: $itgray;
}
span.health-text {
    font-size: 35px;
    width: $hr-width;
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
}
span.mon-text {
    text-align: center;
    width: $hr-width;
    display: inline-block;
    margin: 5px auto auto auto;
    color: $itgray;
}
span.mon-text-2 {
    text-align: right;
    width: $hr-width;
    display: inline-block;
    margin: 10px auto auto 15px;
    color: #aaa;
}
span.subtext {
    position: absolute;
    display: inline-block;
    font-size: 10px;
    bottom: 10px;
    right: 8px;
}
.table tr:first-child > th, .table tr:first-child > td {
    border-top: 0px;
}

$g-width: 163px;
.mycanvas {
	max-width: $g-width;
	max-height: $itapp-card-height;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.mytext {
	margin: 15px auto 0 auto;
	text-align: center;
	font-size: 20px;
}
.graph-one {
	background-color: $itlightgray;
	height: 180px;
	padding: 0;
    	border-radius: 3px;
	margin-top: 20px;
}
.raphael-one {
	padding: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: $itlightgray;
	height: 600px;
    	border-radius: 3px;
}
