@import 'animate';
@import 'inktank_colors';
@import 'compass/typography/text/force-wrap';
#viz {
	margin-top: 15px;
}
.raphael-one {
	background-color: $itlightgray;
}

tspan:hover, circle:hover {
	cursor: pointer;
}

.detail {
	margin-top: 10px;
	line-height: 1;
}
.detail td {
	padding-top: 0px;
}
.detail td.value {
	@include force-wrap();
	max-width: 10em;
	font-family: 'Andale Mono';
	padding: 5px 0 12px 10px;
}
@include animate-fadeInDown($class: true);
@include animate-fadeOutUp($class: true);
@include animate-fadeIn($class: true);
@include animate-fadeOut($class: true);

.fadeInDownAnim {
  @include animation(fadeInDown 0.25s);
}

.fadeOutUpAnim {
  @include animation(fadeOutUp 0.25s);
}
.fadeInAnim {
  @include animation(fadeIn 0.25s);
}

.fadeOutAnim {
  @include animation(fadeOut 0.25s);
}
circle {
       stroke: 'none';
}
$itapp-viz-text-color: $itdarkgray;
text {
       font: 9px ApexSansMedium;
       stroke: none;
       fill: $itapp-viz-text-color;
}

