@import 'animate';
@import 'inktank_colors';
@import 'compass/typography/text/force-wrap';
@import 'compass/css3/user-interface';
@import 'compass/css3/transform';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
.viz {
    position: absolute;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.viz-fullscreen {
    position: relative;
}
.viz-controls {
	margin-right: 10px;
    	cursor: pointer;
}
.raphael-one {
    position: relative;
    background-color: $itlightgray;
    height: 600px;
}
tspan:hover, circle:hover {
    cursor: pointer;
}
.detail-outer {
    display: none;
    text-overflow: hidden;
    overflow: hidden;
}
.detail {
    margin-top: 10px;
    line-height: 1;
    overflow: hidden;
}
.detail td {
    padding-top: 0px;
}
.detail td.value {
    @include force-wrap();
    max-width: 10em;
    font-family:'Andale Mono';
    padding: 5px 0 12px 10px;
}
.filter-panel {
    margin-right: 35px;
    @include user-select(none);	
    .legend-pos {
        margin-left: -15px;
	text-transform: uppercase;
    }
}
ul.filter {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    .btn-hidden {
        display: none;
    }
    .busy {
        cursor: wait;
    }
    li {
        margin-top: 0;
    }
    .btn {
        min-width: 6.75em;
	text-align: left;
	margin-right: 5px;
    }
    .count {
	vertical-align: middle;
    }
}
.workbench-mode {
    background-color: $itlightgray;
}
.workbench {
    margin-top: 5px;
}
$popover-height: 365;
$popover-width: 200;
.detail-outer-popover {
    display: block;
    height: #{$popover-height}px;
    width: #{$popover-width}px;
    overflow: hidden;
    text-overflow: hidden;
    position: absolute;
}
.detail-popover {
    @include box-shadow(0 2px 4px rgba(0, 0, 0, .2));
    @include border-radius(0);
    opacity: 1.0;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    height: #{$popover-height - 20}px;
    width: #{$popover-width - 30}px;
    margin: 0;
    z-index: 100;
    .icon-remove {
        cursor: pointer;
    }
    .icon-info-sign {
	position: absolute;
	right: 5px;
	bottom: 5px;
        cursor: help;
    }
    .icon-cloud {
	position: absolute;
	right: 25px;
	bottom: 5px;
        cursor: help;
    }
    button.graph-button {
	    position: absolute;
	    bottom: 5px;
	    left: 5px;
    }
}
$detail-left-pos: 200px;
$detail-top-pos: 25px;
.detail-outer-top-left {
    top: #{$detail-top-pos}px;
    left: $detail-left-pos;
}
.detail-outer-top-right {
    top: #{$detail-top-pos}px;
    right: 0px;
}
.detail-outer-bottom-left {
    bottom: 0px;
    left: $detail-left-pos;
}
.detail-outer-bottom-right {
    bottom: 0px;
    right: 0px;
}
$switcher-border: 2px;
$switcher-bg-color: lighten($itgray, 20%);
$switcher-bd-color: lighten($itgray, 10%);
.switcher {
	position: relative;
	@include box-sizing(border-box);
	margin: 0;
	padding:0;
	vertical-align: middle;
	margin-bottom: 20px;
}
.switcher-state {
	display: block;
	max-width: 33px;
	height: 100%;
	text-align: center;
}
.switcher-one {
	padding-top: 3px;
	background-color: $switcher-bg-color;
	border-top: $switcher-border solid $switcher-bd-color;
	border-left: $switcher-border solid $switcher-bd-color;
	border-right: $switcher-border solid $switcher-bd-color;
	@include border-top-left-radius(100%);
	@include border-top-right-radius(100%);
}
.switcher-two {
	padding-top: 3px;
	background-color: $switcher-bg-color;
	border-left: $switcher-border solid $switcher-bd-color;
	border-bottom: $switcher-border solid $switcher-bd-color;
	border-right: $switcher-border solid $switcher-bd-color;
	@include border-bottom-left-radius(100%);
	@include border-bottom-right-radius(100%);
}
.switcher-circle {
    	@include box-shadow(0 2px 4px rgba(0, 0, 0, .2));
	visibility: hidden;
	min-height: 27px;
	min-width: 27px;
	display: inline-block;
	border-radius: 100%;
	border: 1px solid $itdarkgray;
	margin-bottom: 3px;
}
.switcher-active {
	background-color: $itlightgray;
	visibility: visible;
	color: $itdarkgray;
}
.switcher-text-hidden {
	visibility: hidden;
}
.switcher-text-one {
	position: absolute;
	left:3em;
	top: 0.5em;
}
.switcher-text-two {
	position: absolute;
	left:3em;
	bottom: 0.5em;
}
.btn.btn-osd-ok {
     color: #F3F4F4;
     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     background-color: #1C8C00;
     *background-color: #1C8C00;
     @include background-image(linear-gradient(top, #26BF00, #1C8C00));
     border-color: #1C8C00;
     border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     &:hover {
         color: #e8e6e6;
         background-color: #1C8C00;
         *background-color: #003bb3;
     }
     &:active, &.active, &.disabled, &[disabled] {
         color: black;
         background-color: #1C8C00;
         *background-color: #003bb3;
	 opacity: .6;
     }
}
.btn.btn-osd-warn {
    color: #f3f4f4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #898C00;
    *background-color: #898C00;
    @include background-image(linear-gradient(top, #BBBF00, #898C00));
    border-color: #898C00;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover {
        color: #f3f4f4;
        background-color: #898C00;
        *background-color: #003bb3;
    }
    &:active, &.active, &.disabled, &[disabled] {
        color: black;
        background-color: #898C00;
        *background-color: #003bb3;
	opacity: .6;
    }
}
.btn.btn-osd-crit {
    color: #EFE8E8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #8C0000;
    *background-color: #8C0000;
    @include background-image(linear-gradient(top, #BF0000, #8C0000));
    border-color: #8C0000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    &:hover {
        color: #f3f4f4;
        background-color: #8C0000;
        *background-color: #003bb3;
    }
    &:active, &.active, &.disabled, &[disabled] {
        color: black;
        background-color: #8C0000;
        *background-color: #003bb3;
	opacity: .6;
    }
}
span.filter-opt-disable {
    opacity: 0.4;
}

@include animate-fadeInDown($class: true);
@include animate-fadeOutUp($class: true);
@include animate-fadeIn($class: true);
@include animate-fadeOut($class: true);

$shortTimer: 0.25s;
$medTimer: 0.25s;
.fadeInDownAnim {
  @include animation(fadeInDown $shortTimer ease);
}

.fadeOutUpAnim {
  @include animation(fadeOutUp $shortTimer ease);
}
.fadeInAnim {
  @include animation(fadeIn $shortTimer ease);
}

.fadeOutAnim {
  @include animation(fadeOut $shortTimer ease);
}
$itapp-viz-text-color: $itdarkgray;
$itapp-viz-vertical-slide-distance:  220;
text {
    font: 9px ApexSansMedium;
    stroke: none;
    fill: $itapp-viz-text-color;
}
@include keyframes(move-up-viz) {
    100% {
        @include transform(translate(0px, -#{$itapp-viz-vertical-slide-distance}px));
    }
}
.moveVizUpAnim {
    @include animation(move-up-viz $medTimer ease);
}
@include keyframes(move-down-viz) {
    100% {
        @include transform(translate(0px, #{$itapp-viz-vertical-slide-distance}px));
    }
}
.moveVizDownAnim {
    @include animation(move-down-viz $medTimer ease);
}

@include keyframes(fadeInRightToLeft) {
    0% {
        @include transform(translate(200px, 0px));
        opacity: 0;
    }
    100% {
        @include transform(translate(0px, 0px));
        opacity: 1;
    }
}
.fadeInRightToLeftAnim {
    @include animation(fadeInRightToLeft $medTimer ease);
}

@include keyframes(fadeOutRightToLeft) {
    0% {
        @include transform(translate(0, 0px));
        opacity: 1;
    }
    100% {
        @include transform(translate(-200px, 0px));
        opacity: 0;
    }
}
.fadeOutRightToLeftAnim {
    @include animation(fadeOutRightToLeft $medTimer ease);
}

@include keyframes(slideVizRight) {
    100% {
        @include transform(translate(75px, 0px));
    }
}
.slideVizRightAnim {
    @include animation(slideVizRight $medTimer ease);
}

@include keyframes(slideVizLeft) {
    100% {
        @include transform(translate(-85px, 0px));
    }
}
.slideVizLeftAnim {
    @include animation(slideVizLeft $medTimer ease);
}
@include keyframes(growDialog) {
    0% {
	    opacity: 0;
	    left: -#{$popover-width}px;
    }
    30% { 
	    opacity: 1;
    }
    100% {
	    left: 0;
    }
}
.DialogInAnim {
    @include animation(growDialog 0.25s ease-in-out);
}
@include keyframes(switcherSliderDown) {
    0% {
    }
    100% {
        @include transform(translateY(34px));
    }
}
.sliderDownAnim {
    @include animation(switcherSliderDown $shortTimer ease-out);
}
@include keyframes(switcherSliderUp) {
    100% {
        @include transform(translateY(-34px));
    }
}
.sliderUpAnim {
    @include animation(switcherSliderUp $shortTimer ease-out);
}
