@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/transform';
@import 'compass/css3/user-interface';
@import 'compass/typography/text/force-wrap';

@import 'partials/inktank_fonts';
@import 'partials/dashboard';
@import 'partials/viz';
@import 'partials/graph';
@import 'partials/notifications';
@import 'partials/animations';
//@import 'partials/pc_animations';
@import 'partials/hex_base';
@import 'partials/hex';
