 $timeFast: 0.125s;
 $timeMed: 0.5s;
 $timeSlow: 1s;

@include keyframes(toWorkBench) {
    0% {
           background-color: $itdarkgray;
    }
    100% {
           background-color: $itlightgray;
    }
}
.toWorkBench {
	@include animation(toWorkBench, ease-in);
}
.toWorkBench-enter {
	@include animation-duration($timeFast);
}
@include keyframes(toDashboard) {
    0% {
	    opacity: 1;
    }
    100% {
	    opacity: 0;
    }
}
.toDashboard {
	@include animation(toDashboard, ease-out);
}
.toDashboard-enter {
	@include animation-duration($timeFast);
}
.fadeOutUp-enter {
	@include animation-duration($timeFast);
}
.fadeInDown-enter {
	@include animation-duration($timeFast);
}
.fadeIn-enter {
	@include animation-duration($timeFast);
}
