@import 'animate';
$timeFast: 0.125s;
$timeMed: 0.5s;
$timeSlow: 1s;
.fadeInStatusAnim {
    @include animation(fadeIn $timeFast ease);
}
.fadeOutAnim {
    @include animation(fadeOut $timeFast ease);
}
.fadeOutUpAnim {
    @include animation(fadeOutUp $timeMed ease);
}
.fadeInDownAnim {
    @include animation(fadeInDown $timeSlow ease);
}
@include keyframes(toWorkBench) {
    0% {
	    background-color: $itdarkgray;
    }
    100% {
	    background-color: $itlightgray;
    }
}
.toWorkBenchAnim {
    @include animation(toWorkBench 0.125s ease-in);
}
@include keyframes(toDashboard) {
    0% {
	    background-color: $itlightgray;
    }
    100% {
	    background-color: $itdarkgray;
    }
}
.toDashboardAnim {
    @include animation(toDashboard $timeFast ease-out);
}
@mixin animate-flipAwayY(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: flipAwayY;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform(perspective(400px) rotateY(0deg));
      }
      50% {
        @include transform(perspective(400px) rotateY(90deg));
	color: $itlightgray;
      }
      100% {
        @include transform(perspective(400px) rotateY(180deg));
	color: $itlightgray;
      }
    }
  }
  @include flip-class($name, $class);
}
@mixin animate-flipBackY(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: flipBackY;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform(perspective(400px) rotateY(180deg));
      }
      50% {
        @include transform(perspective(400px) rotateY(90deg));
      }
      100% {
        @include transform(perspective(400px) rotateY(0));
      }
    }
  }
  @include flip-class($name, $class);
}
@include animate-flipAwayY($class: true);
@include animate-flipBackY($class: true);
.card:hover {
//   @include animation(flipAwayY $timeMed ease-in);
}
