.graph-mode {
    color: $itlightgray;
    font-family: 'ApexSansMedium';
    h1 {
    	font-family: 'ApexSansLight';
    }
    top: 5px;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    height: 1000px;
    background-color: $itdarkgray;
    @include box-shadow(0 0 0);
}

.graph-card {
	height: 480px;
	margin-top: 25px;
	visibility: hidden;
	.icon-space {
		position: absolute;
		left: 9px;
		bottom: 9px;
	}
}

.graph-title {
	color: $itlightgray;
	top: -1.5em;
	left: 0;
	font-size: 16px;
	text-align: center;
	width: 100%;
	text-transform: Capitalize;
	display: inline-block;
	position: absolute;
	margin: 0 auto 0 auto;
}
h2.graph-subtitle {
	color: $itgray;
	font-family: 'ApexSansLight';
	margin-left: 30px;
}
.graph-title-system {
	margin-left: 2.5em;
	@include breakpoint(screen-sm) {
		margin-left: 0.7em;
	}
}
.hosts-select {
	display: inline-block;
	margin-top: 1.03em;
	@include breakpoint(screen-sm) {
		margin-top: 1.1em;
	}
}
.it-graph-controls {
	text-align: center;
	margin-top: 1.2em;
	margin-left: 0;
	display: inline-block;
	@include breakpoint(screen-xs) {
		margin-top: 10px;
		display: block;
	}
}
.btn-group {
	>.btn.it-btn-left.btn-primary,
	>.btn.it-btn-left.btn-primary.hidden-xs,
	>.btn.it-btn-left.btn-primary.visible-xs {
	    @include border-top-left-radius(4px);
	    @include border-bottom-left-radius(4px);
	}
	>.btn.it-btn-right.btn-primary.visible-xs {
	    @include border-top-right-radius(4px);
	    @include border-bottom-right-radius(4px);
	}
}
.workarea_g {
  position: absolute;
  left: 50px;
  right: 10px;
  bottom: 30px;
  height: 340px;
  margin-top: 0;
  padding: 0;
  .help-icon {
	  position: absolute;
	  right: 10px;
	  top: 5px;
  }
}
.graph-range {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'ApexSansLight';
    vertical-align: top;
}
.graph-label {
    @include nowrap;
	width: 80%;
	margin-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	font-family: 'ApexSansLight';
	.a {
		display: inline-block;
		min-width: 21.5%;
		&:after {
			content: '1w';
		}
	}
	.b {
		display: inline-block;
		min-width: 21.5%; 
		&:after {
			content: '3d';
		}
	}
	.c {
		display: inline-block;
		min-width: 21.5%;
		&:after {
			content: '24h';
		}
	}
	.d {
		display: inline-block;
		min-width: 21.5%;
		&:after {
			content: '12h';
		}
	}
	.e {
		display: inline-block;
		min-width: 0;
		&:after {
			content: '1h';
		}
	}
}
.rhs {
    width: 25%;
	position: absolute;
    right: 20px;
    top: 60px;
	padding: 0;
	margin: 0;
}
.graph-controls {
  border: 1px solid lighten($itgray,25%);
  padding: 18px 0;
  position: relative;
  input[type='range'] {
	  width: 100%;
  }
  .graph-value {
	margin-top: 0.30em;
	margin-bottom: 0.85em;
	font-size: 1.2em;
	text-align: center;
  }
  line-height: 0.6;
}
.legend-area {
  margin-top: 10px;
  position: relative;
  border: 1px solid lighten($itgray,25%);
  padding: 9px;
}
.dygraph-legend {
	width: 100%;
    min-height: 70px;
}
h3.dygraph-legend-title {
	margin-top: 5px;
	font-family: 'ApexSansLight';
}
h3.graph-control-title {
	margin: 0 0 15px 9px;
	font-family: 'ApexSansLight';
}
.graph-spinner {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 100;
	background-color: #000;
	text-align: center;
	color: $itlightgray;
	i {
		margin-top: 10%;
		font-size: 100px;
	}
	.hidden {
		visibility: hidden;
	}
}
