.hex {
    @include hexes($host-color, $hex-scale);
}


.hexmon {
    @include hexes($mon-color, $hex-scale);
}

.offsethex {
    margin-left: #{$hex-scale * 54}px;
}
.dots {
    left: 9px;
    position: absolute;
}
.pixel-row {
    display: block;
    margin: 0 0 0 1px;
    padding: 0;
    line-height: 1;
}
.pixel {
    position: relative;
    display: inline-block;
    border: 0;
    margin: 0;
    height: 9px;
    width: 9px;
    background-color: green;
    &.warning {
        background-color: yellow;
    }
    &.error {
        background-color: red;
    }
}
